.error-message{
    color: red;
    display: none;
}

.success-message{
    color: green;
    display: none;
}

.fetched-info{
    display: inline;
    margin-left: 10px;
}

.tab{
    display: none;
}