.error-message{
    color: red;
    display: none;
}

.success-message{
    color: green;
    display: none;
}

.fetched-info{
    display: inline;
    margin-left: 10px;
}

.tab{
    display: none;
}

.embedded-tab{
    display: none;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.form-input-button {
    float: right;
}