.message-input {
    resize: none;
    width: 80%;
    height: 150px;
}

.post-wall {
    max-height: 560px; 
    overflow-y: auto;
}

.info-p {
    display: inline;
}

.profile-view-tab {
    display: none;
}

.welcome-view-image {
    max-width: auto;
    height: 100%;
    object-fit: contain;
}

html {
    overflow-y: scroll;
}